<template>
  <footer>
    <div id="footer">
      <div class="link">
        <facebook :url="url" scale="3"></facebook>
        <twitter :url="url" title="Check me on Github" scale="3"></twitter>
        <linkedin :url="url" scale="3"></linkedin>
        <google :url="url" scale="3"></google>
        <email :url="url" subject="Hello" scale="3"></email>
      </div>
      <div class="signin">
        <p><strong>Winesee SARL</strong><br>Copyright © 2019</p>
      </div>
    </div>
  </footer>
</template>

<script>
import {
  Facebook,
  Twitter,
  Linkedin,
  Email,
  Google
} from 'vue-socialmedia-share'
export default {
  name: 'Footer',
  components: {
    Facebook,
    Twitter,
    Linkedin,
    Email,
    Google
  },
  data () {
    return {
      url: 'https://github.com/mbj36'
    }
  }
}
</script>

<style scoped>

  #footer {
    width: 100%;
    padding: 1em;
    height: 4em;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .link {
    border-top: 2px solid #AC3327;
    width: 50%;
    padding-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
  }
</style>
