<template>
  <header>
    <div id="navbar">
      <div class="logo">
        <img src="../assets/favicon.png">
      </div>
      <div class="menu">
        <ul>
          <li>
            <a>Présentation</a>
          </li>
          <li>
            <a>Nos services</a>
              <ul>
                <li>Winesee app</li>
                <li>Winesee pros</li>
                <li>Winesee odg</li>
              </ul>
          </li>
          <li>
            <a>Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #navbar {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    margin-right: 2em;
    list-style: none;
  }

  li {
    margin: 1em;
    padding: 0.7em;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  li:hover {
    border-bottom: 2px solid #AC3327;
    cursor: pointer;
  }

  ul li ul {
    display: none;
    color: black;
    padding: 0;
  }

  ul li:hover ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    margin-top: 2em;
  }

  ul li:hover ul li {
    display: flex;
    margin: 0.5em;
  }

  img {
    max-height: 3em;
    padding: 1em;
  }
</style>
