<template>
  <div id="home">
    <div class="section1">
      <h1><span id="top">Votre vin</span><br><span id="bottom">sur le bout des doigts!</span></h1>
      <iframe width="600" height="360" src="https://www.youtube.com/embed/s5EjjcPbUUw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="section2">
      <div class="card">
        <div class="wineApp">
        </div>
        <div class="title">
          <p>Winesee App</p>
        </div>
      </div>
      <div class="card">
        <div class="winePros">
        </div>
        <div class="title">
          <p>Winesee Pros</p>
        </div>
      </div>
      <div class="card">
        <div class="wineOdg">
        </div>
        <div class="title">
          <p>Winesee ODG</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'HomePage'
}
</script>

<style scoped>
  #home {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section1 {
    display: flex;
    align-items: center;
    width:100%;
    padding: 3em;
    background: no-repeat center/100% url('../assets/fond.jpg');
  }

  h1 {
    font-size: 3em;
    color: white;
    padding: 1em;
    margin-right: 3em;
    margin-top: 3em;
    line-height: 160%;
  }

  .section2 {
    width: 100%;
    padding: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:10%;
    padding:4em;
    cursor: pointer;
  }

  .card:hover {
    color: #AC3327;
    font-weight: bold;
  }

  .card .wineOdg:hover, .card .wineApp:hover, .card .winePros:hover {
    opacity: 1;
    border: 2px solid #AC3327;
    box-shadow: 0px 0px 10px 5px #AC3327;
  }

  .card .wineApp, .winePros, .wineOdg {
    border-radius: 100%;
    width: 12em;
    height: 12em;
    border: 2px solid white;
  }

  .card .wineApp {
    background:no-repeat center/150% url('../assets/app.jpg');
    opacity: 0.7;
  }

  .card .winePros {
    background:no-repeat center/150% url('../assets/pros.jpg');
    opacity: 0.7;
  }

  .card .wineOdg {
    background:no-repeat center/150% url('../assets/odg.jpg');
    opacity: 0.7;
  }

  p {
    font-size: 2em;
    text-align: center;
  }

  #top {
    padding-top: 1em;
    border-top: 4px ridge white;
  }

  #bottom {
    padding-bottom: 1em;
    border-bottom: 4px groove white;
  }

</style>
